<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205893961278-vr5r0fqep54n1nhn93pt87sk6endl4k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205893961278-vr5r0fqep54n1nhn93pt87sk6endl4k9</string>
	<key>API_KEY</key>
	<string>AIzaSyAVJ0AqXZeww_n35oNu_66T0gaQhhJTkuk</string>
	<key>GCM_SENDER_ID</key>
	<string>205893961278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theSetar</string>
	<key>PROJECT_ID</key>
	<string>thesetar-605d2</string>
	<key>STORAGE_BUCKET</key>
	<string>thesetar-605d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205893961278:ios:0bf17e27c8b0ed08dff36f</string>
</dict>
</plist>